<h1> Sign up for a new account </h1>

<form action="/users" method="post">
  <label for="email">
    Email address: <input type="text" name="email" required>
  </label>
  <label for="password">
    Password: <input type="text" name="password" required>
  </label>
  <input type="submit" value="Create account">
</form>
