<h1> Links </h1>
<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title: <%= link.title %> <br>
    URL:  <b><%= link.url %></b><br>
  Tags:  <% link.tags.each do |tag| %>
      <%= tag.name %>
     <% end %>
    <br></br>
  </li>
  <% end %>
 </ul>

 <a href="/links/new">Add bookmark</a>
 <br></br>
 <a href="/users/new">Sign up</a>
 <br></br>
 <form action="/links/bubbles" method="post">
   <label for="search">
     Search by tag: <input type="text" name="search" required>
   </label>
   <input type="submit" value="Submit">
 </form>
