<h1> Links </h1>
<ul id='links'>
  <% @links.each do |link| %>
  <li>
    Title:  <%= link.title %> <br>
    URL:    <%= link.url %> <br>
    tags:   <%= "[#{link.tags.map(&:name).join("] [")}]" %> <br>
    <br>
  </li>
  <% end %>
 </ul>

 <a href="/links/new">Add bookmark</a>
 <br></br>
 <form action="/links/bubbles" method="post">
   <label for="search">
     Search by tag: <input type="text" name="search" required>
   </label>
   <input type="submit" value="Submit">
 </form>
