<form action="/links" method="post">
  <label for="url">
    Enter the URL: <input type="text" name="url" required>
  </label>
  <br>
  <label for="title">
    Enter the title: <input type="text" name="title" required>
  </label>
  <label for="tags">
    Enter the tag: <input type="text" name="tags" required>
  </label>
  <input type="submit" value="Submit">
</form>
