<form action="/links" method="post">
  <label for="url">
    Enter the URL: <input type="text" name="url">
  </label>
  <br>
  <label for="title">
    Enter the title <input type="text" name="title">
  </label>
  <input type="submit" value="Submit">
</form>
